<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Random Hindi Quote</title>
		<link rel="icon" type="image/x-icon" href="images/favicon.svg" />
		<link rel="stylesheet" href="styles/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Tiro+Devanagari+Hindi&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<main class="container">
			<h1>Random Hindi Quote</h1>
			<form action="/" method="post">
				<button type="submit" class="btn">Get Quote</button>
			</form>
			<% if(locals.quote) { %>
			<section class="quote-box">
				<h2><%= type %> quote</h2>
				<p class="quote"><%= quote %></p>
			</section>
			<% } %>
		</main>
		<footer>
			<p>&copy; 2023 - <%= year %> Pankaj</p>
		</footer>
	</body>
</html>
